@import 'SystemFontStyles.scss';

.ChallengeWaitingScreenContainer {
    @extend %flexStartContainer;
}

.ChallengeWaitingScreenStartTestButton {
    @extend %PrimaryButton;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 5px;
}

.ChallengeWaitingScreenStartTestButtonText {
    @extend %PrimaryButtonTextFont;
    font-weight: normal;
    font-size: 15;
    color: white;
}